body {
	background: #eee;
	color: #000;
	width: 80%;
	margin: 20px auto;
}

.header {
	background: #eaf4fd url();
	border: #c5dbec 1px solid;
	margin: 0 auto;
	padding: 0;
	height: 110px;
	font-size: 20px;
	font-family: helvetica;
}

.header h3, .footer h3 {
	margin: 0;
	padding: 15px;
}

.header p {
	margin: 5px 30px;
}

/* non-UI demo */
.sb-accordion .header {
	background: #333;
	color: #ddd;
	border: #888 1px solid;
}

.footer {
	margin: 30px auto;
	background: #ddd;
	border: #c5dbec 1px solid;
	height: 250px;
}


